@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
:root {
  --bs-primary-rgb: 33, 33, 33;
  --bs-font-sans-serif: "Space Grotesk", sans-serif;
  --bs-body-font-family: var(--bs-font-sans-serif);
}
.card-body {
    text-align: center;
}
.display-1{
  font-size: calc(1.625rem + 5vw);
  font-weight: 100;
}